.section {
	padding: 40px 0 40px 0;
	
}
#header {
	margin: 0;
	width: 100%;
	height: 45px;
	background-color: #313131;
	color: #d1d1d1;

}

#header .container_12 {

    margin-top: 13px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 48px;
}

#header .container_12 .grid_6 .nav {
	float: right;
	}

#masthead {
	padding: 20px 0 0 0;}

#flag .grid_4 {
	background-color: #f5f5f5;
}


.white {
	background: #fff;
	border-top: 1px solid #f1f1f1;
	margin: 40px 0 0 0;
	padding: 20px 0 10px 0;}

.gray {
	background-color: #f5f5f5;
	border-top: 1px solid #e5e5e5;
	}

.darker-gray {
	background-color: #e5e5e5;
	border-top: 1px solid #d5d5d5;
	}

.dark {
	width: 100%;
	background-color: #333;
	color: white;}
	
.breaking {
	background-color: #b31222;
	padding: 8px 0 0 0; 
}


	
.container {
	padding: 15px 20px 15px 20px;}
	
.flytheflag {
	height: 293px;
	}

.thanks {
	background-color: white;
	border: 1px solid #e1e1e1;}
	

